<div class="container-fluid p-0">
    <div class="bg-dark text-white fs-1">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-4">Angular Blog</a>
                <form class="d-flex" role="search">
                    <div class="btn-group" role="group" aria-label="SignInOut">
                        <button *ngIf="!userService.isAuthUser" 
                            class="btn btn-success fs-5" 
                            type="button"
                            (click)="signInClick()">Sign In
                        </button>
                        <button 
                            *ngIf="!userService.isAuthUser" 
                            class="btn btn-outline-primary fs-5" 
                            type="button"
                            (click)="signUpClick()">
                            Sign Up
                        </button>
                        <button 
                           *ngIf="userService.isAuthUser" 
                           class="btn btn-outline-success fs-5" 
                           type="button"
                           (click)="addPostClick()">
                           Add post
                        </button>
                        <button 
                           *ngIf="userService.isAuthUser" 
                           class="btn btn-warning fs-5" 
                           type="button">
                           {{userService.currUser.username }}
                        </button>
                        <button 
                            *ngIf="userService.isAuthUser" 
                            class="btn btn-outline-warning fs-5" 
                            type="button"
                            (click)="signOut()">Sign Out
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>