@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.section-table {
  margin-top: 40px;
  width: 100%;
  height: 600px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.section-table table {
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
.section-table table thead {
  border-top: 1px solid rgb(174, 183, 191);
  border-bottom: 2px solid rgb(174, 183, 191);
  height: 50px;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.section-table table thead .th-num {
  width: 10%;
  text-align: center;
}
.section-table table thead .th-task {
  width: 20%;
}
.section-table table thead .th-check {
  width: 10%;
}
.section-table table thead .th-done {
  width: 30%;
}
.section-table table thead .th-edit {
  width: 15%;
}
.section-table table thead .th-delete {
  width: 15%;
}
.section-table table tr {
  height: 50px;
  vertical-align: middle;
}
.section-table table tr .td-foot {
  background-color: #efebeb;
}
.section-table table tr .td-num {
  width: 10%;
  font-weight: 500;
  text-align: center;
}
.section-table table tr .td-task {
  width: 20%;
  font-weight: 400;
  text-align: left;
}
.section-table table tr .td-check {
  width: 10%;
  font-weight: 400;
  text-align: left;
}
.section-table table tr .td-done {
  width: 30%;
  font-weight: 400;
  text-align: left;
}
.section-table table tr .td-edit {
  width: 15%;
  text-align: center;
}
.section-table table tr .td-edit .edit {
  display: block;
  content: "Edit";
  width: 80px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #bf8807;
  font-size: 18px;
  font-weight: 500;
  border-width: 1px;
  background: #f2c457;
  color: #000;
}
.section-table table tr .td-edit .edit:hover {
  outline: 4px solid #e1d083;
}
.section-table table tr .td-edit .edit:disabled {
  border: 1px solid #bf8807;
  background: #cab27b;
}
.section-table table tr .td-edit .save {
  display: block;
  margin-top: 10px;
  width: 80px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #139846;
  font-size: 18px;
  font-weight: 500;
  border-width: 1px;
  background: rgb(34, 166, 85);
  color: #fff;
}
.section-table table tr .td-edit .save:hover {
  outline: 4px solid #b1dec2;
}
.section-table table tr .td-edit .save:disabled {
  border: 1px solid #139846;
  background: rgb(116, 206, 151);
}
.section-table table tr .td-edit .save:enabled {
  border: 1px solid #139846;
  background: rgb(34, 166, 85);
}
.section-table table tr .td-delete {
  width: 15%;
  text-align: center;
}
.section-table table tr .td-delete .delete {
  display: block;
  content: "Delete";
  width: 80px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #bf0707;
  font-size: 18px;
  font-weight: 500;
  border-width: 1px;
  background: #c42f11;
  color: #fff;
}
.section-table table tr .td-delete .delete:hover {
  outline: 4px solid #eba3a3;
}
.section-table table tr .td-delete .delete:disabled {
  border: 1px solid #9f6161;
  background: #eba3a3;
}

.checkbox {
  display: none;
}

.fake-checkbox {
  display: flex;
  width: 25px;
  height: 25px;
  border: 1px solid darkgrey;
  border-radius: 2px;
  margin-top: -2px;
  margin-right: 4px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.checkbox:checked + .fake-checkbox {
  background: #2785F7;
  border: 1px solid #2785F7;
}

.checkbox:checked + .fake-checkbox::before {
  content: "✔";
  margin-top: -2px;
  color: white;
}

input[type=text] {
  display: block;
  width: 80%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  font-size: 22px;
  font-weight: 500;
  border-width: 1px;
  background: white;
  outline: #EAEBED;
  margin-top: 10px;
  padding-left: 15px;
}

input[type=text]:focus {
  outline: 4px solid #cbdcf2;
  border: 1px solid #2785F7;
}/*# sourceMappingURL=childtable.component.css.map */