* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}

.section-table {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    table {
        font-size: 20px;
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;


        thead {
            border-top: 1px solid rgb(174, 183, 191);
            border-bottom: 2px solid rgb(174, 183, 191);
            height: 50px;
            text-align: left;
            font-size: 22px;
            font-weight: 600;
            color: #333;
            // position: fixed;

            .th-num {
                width: 10%;
                text-align: center;
            }

            .th-task {
                width: 20%;
            }

            .th-check {
                width: 10%;
            }

            .th-done {
                width: 30%;
            }

            .th-edit {
                width: 15%;
            }

            .th-delete {
                width: 15%;
            }

        }

        tr {
            height: 50px;
            vertical-align: middle;

            .td-foot {
                background-color: #efebeb;
            }

            .td-num {
                width: 10%;
                // width: 100px;
                font-weight: 500;
                // font-size: 18px;
                text-align: center;
            }

            .td-task {
                width: 20%;
                // font-size: 18px;
                font-weight: 400;
                text-align: left;
            }

            .td-check {
                width: 10%;
                // font-size: 18px;
                font-weight: 400;
                text-align: left;
            }

            .td-done {
                width: 30%;
                // font-size: 18px;
                font-weight: 400;
                text-align: left;
            }

            .td-edit {
                width: 15%;
                // font-size: 16px;
                // font-weight: 300;
                text-align: center;

                .edit {
                    display: block;
                    content: 'Edit';
                    width: 80px;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid #bf8807;
                    font-size: 18px;
                    font-weight: 500;
                    border-width: 1px;
                    background: #f2c457;
                    color: #000;

                    &:hover {
                        outline: 4px solid #e1d083;
                    }

                    &:disabled {
                        border: 1px solid #bf8807;
                        background: #cab27b;
                        // outline: 4px solid #e5e7e5;
                    }
                }

                .save {
                    display: block;
                    // content: 'Edit';
                    margin-top: 10px;
                    width: 80px;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid #139846;
                    font-size: 18px;
                    font-weight: 500;
                    border-width: 1px;
                    background: rgb(34, 166, 85);
                    color: #fff;

                    &:hover {
                        outline: 4px solid #b1dec2;
                    }

                    &:disabled {
                        border: 1px solid #139846;
                        background: rgb(116, 206, 151);
                        // outline: 4px solid #e5e7e5;
                    }

                    &:enabled {
                        border: 1px solid #139846;
                        background: rgb(34, 166, 85);
                    }
                }
            }

            .td-delete {
                width: 15%;
                // font-size: 16px;
                // font-weight: 300;
                text-align: center;

                .delete {
                    display: block;
                    content: 'Delete';
                    width: 80px;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid #bf0707;
                    font-size: 18px;
                    font-weight: 500;
                    border-width: 1px;
                    background: #c42f11;
                    color: #fff;

                    &:hover {
                        outline: 4px solid #eba3a3;
                    }

                    &:disabled {
                        border: 1px solid #9f6161;
                        background: #eba3a3;
                    }
                }
            }
        }
    }
}

.checkbox {
    display: none;
}

.fake-checkbox {
    // display: inline-block;
    display: flex;
    width: 25px;
    height: 25px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    margin-top: -2px;
    margin-right: 4px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.checkbox:checked+.fake-checkbox {
    background: #2785F7;
    border: 1px solid #2785F7;
}

.checkbox:checked+.fake-checkbox::before {
    content: "✔";
    margin-top: -2px;
    // vertical-align: top;
    // text-align: center;

    color: white;
}

input[type="text"] {
    display: block;
    width: 80%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #C0C0C0;
    font-size: 22px;
    font-weight: 500;
    border-width: 1px;
    background: white;
    outline: #EAEBED;
    margin-top: 10px;
    padding-left: 15px;
}

input[type="text"]:focus {
    outline: 4px solid #cbdcf2;
    border: 1px solid #2785F7;
}