<div class="container-fluid mt-5 d-flex flex-row justify-content-around">
    <div *ngFor="let recList of arrList; index as idx" class="card justify-content-center align-items-center" style="width: 28rem; height: 25rem">
        <h5 class="card-header w-100 text-center" style="height: 40px">{{ recList.headerText }}</h5>
        <img src='{{ recList.imgPath }}' class="card-img-top" style="width: 80%; height: 10rem"
            alt="...">
        <div class="card-body d-flex justify-content-center align-items-center" style="height: 80px">
            <h5 class="card-title w-100 text-center text-danger fw-bold">{{ recList.cardTitle }}</h5>
        </div>
        <div class="card-footer mx-0 w-100 text-center d-flex align-items-center" style="height: 80px">
            <a routerLink= '{{ recList.routerLink }}' routerLinkActive="route-active" class="btn btn-lg bg-success w-100 text-white" aria-current="page" (click)="doOnClick(idx)">details</a>
        </div>
    </div>
</div>
